.container {
  background: var(--white);
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 1em;
}

.name {
  font-weight: bold;
  color: var(--gray-xdark);
}

.items {
  color: var(--gray-dark);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item {
  cursor: pointer;
  background: var(--yellow-xlight);
  color: var(--gray-xdark-75);
  display: inline;
  margin: 0.25em;
  padding: 0.5em 1em;
  box-shadow: 0 0.15em 0.1em var(--black-15);
  font-family: var(--caveat);
  font-size: 1.35em;
  transform: rotate(1deg);
  position: relative;
  transition: ease all 500ms;

  &:after {
    content: '';
    background: linear-gradient(
      -45deg,
      var(--yellow-xlight),
      var(--yellow-light)
    );
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-2deg);
    transition: ease all 500ms;
  }

  &:hover {
    box-shadow: 0em 0.5em 0.5em var(--black-05);

    &:after {
      background: linear-gradient(
        -25deg,
        var(--white-25) 15%,
        var(--yellow-xlight),
        var(--yellow-light)
      );
      box-shadow: 0.05em 0.15em 0.1em var(--black-15);
    }
  }
}

.footer {
  margin-top: auto;
}

.icon {
  width: 1em;
  height: 1em;
  fill: var(--blue);
  margin-left: auto;
  flex-shrink: 0;
}

.button {
  cursor: pointer;
  border: 0;
  color: var(--gray);
  outline: none;
  background: transparent;

  &:hover {
    color: var(--blue);
  }
}
