!.vscode/extensions.json
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.idea
.pnp.js
.vscode/*
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
/.pnp
/build
/coverage
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
package-lock.js
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*