@import '~theme/colors';
@import '~theme/min-width';

@mixin VerticalList {
  display: grid;
  grid-gap: 0.25em;
}

@mixin TwoColumns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  > *:last-child {
    grid-column: 1/3;
  }
}

@mixin BusinessModelCanvas {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.25em;

  > * {
    &:nth-child(1) {
      grid-column: 1/3;
      grid-row: 1/3;
    }

    &:nth-child(2) {
      grid-column: 3/5;
      grid-row: 1/2;
    }

    &:nth-child(3) {
      grid-column: 3/5;
      grid-row: 2/3;
    }

    &:nth-child(4) {
      grid-column: 5/7;
      grid-row: 1/3;
    }

    &:nth-child(5) {
      grid-column: 7/9;
      grid-row: 1/2;
    }

    &:nth-child(6) {
      grid-column: 7/9;
      grid-row: 2/3;
    }

    &:nth-child(7) {
      grid-column: 9/11;
      grid-row: 1/3;
    }

    &:nth-child(8) {
      grid-column: 1/6;
    }

    &:nth-child(9) {
      grid-column: 6/11;
    }
  }
}

.container {
  width: 100%;
  padding: 1em;
  background: $gray-xlight;

  @include VerticalList;

  @include min-width(600px) {
    @include TwoColumns;
  }

  @include min-width(1000px) {
    @include BusinessModelCanvas;
  }

  @media print {
    @include BusinessModelCanvas;
  }
}
