<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>Canvas Sketch</title>
    <meta name="description" content="App to sketch out a business model canvas">
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= GOOGLE_ANALYTICS_ID %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= GOOGLE_ANALYTICS_ID %>');
    </script>
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
  </head>
  <body>
    <div class="app"></div>
  </body>
</html>
