@import '~theme/common';
@import '~theme/base';

.title {
  //font-weight: bold;
  //color: $gray-xdark;
  //color: $ss-teal;
}

.textareastyle {
  font-family: Courier;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875em;
  line-height: 1.35em;

  color: #202020;
}
